<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/header.ejs') %>
	</head>

	<body>
		<%- include('./partials/nav.ejs') %>
		<img src="background.jpg" height="275px" width="500px">
		<div class="blog">
			<p>Welcome to Baylen's Portal. My name is Baylen, I have designed and built this portfolio of my different projects
				and websites. I am a Junior Full-stack developer in C, C++, Python, Javascript, HTML/CSS programming languages. Most of my projects
				have been for small buisness owners and local startups. If you want to review some of my work check out my projects page! If you are
				interested in getting a new website or program made, leave me your contact information on the contact page and ill get to you shortly!
			</p>
		</div>
		
		<%- include('./partials/footer.ejs') %>
	</body>
</html>