<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/header.ejs') %>
	</head>

	<body>
		<%- include('./partials/nav.ejs') %>
        <form class="contactform">
            <div>
                <label>Name:</label>
                <input type="text">
            </div><div>
                <label>Email:</label>
                <input type="text"><br>
            </div><div>
                <label>Phone:</label>
                <input type="number"><br>
            </div>
                <button>Submit</button>
            </div>

        </form><br>
		<%- include('./partials/footer.ejs') %>
	</body>
</html>