<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/header.ejs') %>
	</head>

	<body>
		<%- include('./partials/nav.ejs') %>
            <div class="form">
                <label>Name: </label>
                <input type="text">
            </div>
            <div class="form">
                <label>Email: </label>
                <input type="text"><br>
            </div>
            <div class="form">
                <label>Phone:</label>
                <input type="number"><br>
            </div><br>
            <div class="form">
                <label>Message: </label><br>
                <textarea class="msg"></textarea>
            </div><br>
                <button class="sub">Submit</button>
		<%- include('./partials/footer.ejs') %>
	</body>
</html>