<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/header.ejs') %>
	</head>

	<body>
		<%- include('./partials/nav.ejs') %>
		<div class="blog">
			<h2>Frontend vs Backend</h2><br>
			<p>The backend of things. I first started experimenting in web development using javascript Node.js. On first impact I didn't like Node because the code seemed messy and confusing. I had the wrong approach! After experimenting with other backend server languages and frameworks. I immediately realized that Node.js was more compatible with what i was trying to build and use. Initially as a CRUD "create, read, use, destroy". I began to experiment with other packages/libraries that made Node.js more efficient. Like Express.js which made the build 10x faster to set up and much cleaner code.<br><br>
				The frontend of things. HTML/CSS was something we all learned in high school if you were a tech geek. In my youth I focused on more object-oriented programming languages like C, C++. So I never invested the time into the semi new scripting language like Javascript at the time. Now fast forward a decade later and the magnitude of packages and libraries all open sourced for anyone to use. With a huge community to pull from and learn from, Javascript had become the next big language everyone needed to master. I began studying and making static websites more responsive as well as gaining experience with server side code and community packages like Jquery.
			</p>
		</div>
		<%- include('./partials/footer.ejs') %>
	</body>
</html>