.foot{
    position: absolute;
    bottom: 10px;
    padding: 5px;
    margin: 10px;
}

.contactform {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 25vh;
}

.contactform input{
    border-style: solid;
}

.contactform button{
    width: 60px;
    border-style: solid;
}

.blog{
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    margin: 10px;
}